@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: theme("colors.ae-ink");
    background-color: theme("colors.ae-pearl");
    font-family: theme("fontFamily.sans");
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-image: theme("backgroundImage.ae-gradient");
    background-attachment: fixed;
  }
}
